[submodule "vim/vundle"]
	path = vim/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-haml"]
	path = vim/bundle/vim-haml
	url = git://github.com/tpope/vim-haml.git
[submodule "vim/bundle/vim-matchit"]
	path = vim/bundle/vim-matchit
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "vim/bundle/vim-actionscript"]
	path = vim/bundle/vim-actionscript
	url = git@github.com:cairo140/actionscript.vim.git
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim-command-t"]
	path = vim-command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/vim-command-t"]
	path = vim/bundle/vim-command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/vim-align"]
	path = vim/bundle/vim-align
	url = https://github.com/vim-scripts/Align.git
